@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/Css/blog-page.css">
@section BlogHtml{
    <div class="background-image-container">
        <div class="background-image">
            <img src="./Images/blog-page/images/background-image.jpg" alt="Image 1">
        </div>
        <div class="breadcrumbs-title-container">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li>Home</li>
                    <img style="width: 15px;" src="./Images/blog-page/icons/arrow-right.png">
                    <li>Blog</li>
                </ul>
            </div>
            <div class="title">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="dashed-line">
            <img src="./Images/blog-page/images/image-lines-header.jpg">
        </div>
    </div>
}

<section id="container">
    <div class="blog-container">
        @foreach (var item in Model)
        {
            <div class="blog-post">
                <div class="blog-image">
                    <img src="./Images/blog-page/images/@item.Image">
                </div>
                <div class="blog-title">
                    <a href="#">
                        <h1>@item.Title</h1>
                    </a>
                </div>
                <div class="blog-info">
                    <ul class="blog-info">
                        <li class="date" style="color: #737373;">
                            <img class="date-icon" src="./Images/blog-page/icons/tear-of-calendar-16.png" style="margin-right: 7px;">
                            @item.CreatedAt.ToString("MMMM dd, yyyy")
                        </li>
                        <li class="category">
                            <img class="category-icon" src="./Images/blog-page/icons/folder-16.png" style="margin-right: 7px;">
                            @foreach (var category in item.BlogCategories.Select(bc => bc.Category))
                            {
                                <a href="#">@category.Name</a>
                            }
                        </li>
                        <li class="comment" style="color: #737373;">
                            <img class="comment-icon" src="./Images/blog-page/icons/comments-16.png" style="margin-right: 7px;">
                            <a href="#">0 Comments</a>
                        </li>
                    </ul>
                </div>

                <div style=" line-height:1.86em; color:#737373;" class="blog-text">
                    @if (item.Description.Length <= 400)
                    {
                        @item.Description
                    }
                    else
                    {
                        @item.Description.Substring(0, 400)
                        <div class="comment-btn">
                            <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id"> Read More</a>
                        </div>
                    }
                </div>
            </div>
        }
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    <aside id="sidebar">
        <div class="search">
            <input style="color:white;" type="text" class="search-name" id="searchinp" placeholder="Search...">
        </div>
        <div class="my-5" style="background-color:grey;">
            <div class="search-list">
                <ul class="d-block search-list-p" id="searchList"></ul>
            </div>
        </div>
        <div class="lastest-posts">
            <h3 style="font-weight: bolder;margin-bottom: 30px; font-size: 20px;">Latest Posts</h3>
            @foreach (var item in Model.Take(3))
            {
                <div class="item">
                    <div class="media">
                        <a href="#"><img src="./Images/blog-page/images/@item.Image"> </a>
                    </div>
                    <div class="info">
                        <div class="item-comment">
                            <div class="left">
                                <img style="width: 20px; height: 20px;" src="./Images/blog-page/icons/speech-bubble-3-20.png">
                            </div>
                            <div class="right">
                                <a  href="#">0</a>
                                <span class="text-comment">Comments</span>
                            </div>
                        </div>
                        <div class="title">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">
                                <h4>
                                    @if (item.Title.Length <= 30)
                                    {
                                        <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">@item.Title</a>
                                    }
                                    else
                                    {
                                        <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">@item.Title.Substring(0, 30)</a>
                                    }
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </aside>
</section>

<script ~/src=""></script>